body 
{
    background-color: aquamarine;
}
.GameTitle
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    background-color: rgb(225, 89, 196);
    padding: 20px 15px 10px 15px;
}

.rowFrame
{
    display: flex;
}

.anteaterContainer
{
    width: 1200px;
    height: 600px;

    background:
    url("pictures/anteaterBase.png");
}

#outfit {
    width: 100%;
    height: 100vh; /* Adjust to desired height */
    position: relative;
    overflow: hidden;
}

.navbar
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.dropdown .dropbutton 
{
cursor: pointer;
font-size: 20px;
border: none;
outline: none;
color:white;
background-color: aquamarine;
padding: 15px 20px;
font-family: inherit;
margin: 0;
width: 150px;
height: 50px;
border: 2px;
border-color: black;
border-style: solid;
}

.navbar a:hover, .dropdown:hover .dropbutton, .dropbutton:focus
{
background-color: rgb(146, 237, 207);
}

.dropdown-content 
{
display: none;
right: 0;
transform: translateX(-10%);
position: absolute;
background-color: rgb(11, 200, 197);
min-height: 140px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.topimg
{
position: relative;    
width: 100px;
height: 100px; 
transform: scale(1.75); 
left: -20px;
}

.bottomimg
{
position: relative;    
width: 100px;
height: 100px; 
transform: scale(1.75); 
top: -35px;
left: -20px;
}

.shoeimg
{
position: relative;    
width: 100px;
height: 100px; 
transform: scale(2.0); 
top: -70px;
left: -20px;
}

.backgroundimg
{
width: 200px;          /* Make the image width fit the parent (a element) */
height: 150px;         /* Make the image height fit the parent (a element) */
object-fit: contain;  /* Ensure the image scales down to fit inside without distortion */
object-position: center; /* Center the image within the a element */
transform: scale(1.0); 
}

.dropdown-content a 
{
float: none;
color:white; 
padding: 15px 20px;
text-decoration: none;
display: block;
text-align: left;
margin: 0;
overflow: hidden;
}

.dropdown-content a img
{
    display: block;
    margin: 0 auto;
}

.dropdown-content a:hover
{
background-color: rgb(8, 149, 147);
}

.show
{
display: block;
}

#defaultbg
{
    text-align: center;
    font-weight: 400;
    font-size: larger;
}